
{% extends "base.html" %}
{% block content %}
    <br>
    <div class="">
      Type out an entry for the list below. If you want to delete an entry, simply click on it.
    </div>
    <br>
    {% for message in get_flashed_messages() %}
    <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}

    {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry form-group">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="title" class="form-control col-sm-4"></dd>
          <dt>Text:</dt>
          <dd><textarea name="text" rows="5" cols="40" class="form-control col-sm-4"></textarea></dd>
          <dd><input type="submit" class="btn btn-primary" value="Share"></dd>
        </dl>
      </form>
    {% endif %}
    <br>
    <ul class="entries">
      {% for entry in entries %}
      <li class="entry">
         <h2 id="{{ entry.post_id }}">{{ entry.title }}</h2>
         {{ entry.text|safe }}
      </li>
        {% else %}
      <li><em>No entries yet. Add some!</em></li>
      {% endfor %}
   </ul>
{% endblock %}
