{% extends "base.html" %}
{% block content %}

    
      {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
      {% endfor %}

      <form class="from-group" action="{{ url_for('search') }}" method="get">
        <dl>
          <dt>Search:</dt>
          <dd><input type="text" name="query" class="form-control col-sm-4"></dd>
          <br>
          <dd><input type="submit" value="Search" class="btn btn-info"></dd>
        </dl>
      </form>

      <ul class="entries">
        {% for entry in entries%}
          {% if query.lower() in entry.title.lower() or query.lower() in entry.text.lower() %}
          <li class="entry"><h2 id="{{ entry.post_id }}">{{ entry.title }}</h2>{{ entry.text|safe }}</li>
          {% endif %}
        {% endfor %}
      </ul>
{% endblock %}
